{% for content in post.get_field('content_blocks') %}

    {% if content.acf_fc_layout == 'large_image_block' %}
        {# {% include 'partials/block-image-caption.twig' %} #}
        {% include 'partials/block-text-image.twig' %}
	{% elseif content.acf_fc_layout == 'text_block' %}
        {% include 'partials/block-text.twig' %}
    {% elseif content.acf_fc_layout == 'text_image_block' %}
		{% include 'partials/block-text-image.twig' %}
    {% elseif content.acf_fc_layout == 'blank' %}
        <div class="block-blank">
            {{content.wysiwyg}}
        </div>
    {% elseif content.acf_fc_layout == 'call_to_action' %} 
        {% include 'partials/block-cta.twig' %}
    {% endif %}

{% endfor %}