{% for content in post.get_field('content_blocks') %}

    {% if content.acf_fc_layout == 'large_image_block' %}
        {% include 'blocks/block-text-image.twig' %}
	{% elseif content.acf_fc_layout == 'text_block' %}
        {% include 'blocks/block-text.twig' %}
    {% elseif content.acf_fc_layout == 'text_image_block' %}
		{% include 'blocks/block-text-image.twig' %}
    {% elseif content.acf_fc_layout == 'blank' %}
        <div class="block-blank">
            {{content.wysiwyg}}
        </div>
    {% elseif content.acf_fc_layout == 'shortcode' %}
        <div class="block-blank">
            {{content.shortcode}}
        </div>
    {% elseif content.acf_fc_layout == 'read_more' %}
        {% include 'blocks/block-readmore.twig' %}
    {% endif %}

{% endfor %}