
<div class="clearfix">
	
	<section class="block-text">
		{% if content.section_heading %}<h4>{{content.section_heading}}</h4>{% endif %}
		{{content.section_text}}
	</section>
	<div class="col-sm-6">
		{% if content.section_image %}<img src="{{TimberImage(content.meister_pic).src}}" alt="{{content.title}}">{% endif %}
	</div>

</div>