<ul class="list-cats meta">
	{% if post.categories %}
		<span>Tagged:</span>
	{% endif %}
    {% for cat in post.categories %}
        <li class=""><a href="{{cat.link}}">{{cat.name}}</a></li>
    {% endfor %}
</ul>