<ul class="list-cats meta">
	{% if post.categories %}
		<span>Filed Under:</span>
	{% endif %}
    {% for cat in post.categories %}
        <li><a href="{{cat.link}}">{{cat.name}}</a></li>
    {% endfor %}
</ul>