{% if post.categories %}

<ul class="list-cats meta">
    {% for cat in post.categories %}
        {# <li><a href="{{cat.link}}">{{cat.name}}</a></li> #}
        <li class="cat-item"><a>{{cat.name}}</a></li>
    {% endfor %}
</ul>

{% endif %}