{% if related_meisters %}
	<footer class="contain">
		<div class="loop-related">

			<header class="article-section-header">
				<div class="row-sm">

					<div class="col-sm-8">
						<h4 class="tagline">Related Episodes</h4>
					</div>
					<div class="col-sm-4">
						<a class="link-more" href="{{site.link}}/meisters" title="All Episodes">See&nbsp;all&nbsp;&rarr;</a>
					</div>

				</div>
			</header>

			<section class="row">
			{% for m in related_meisters %}
				{% include 'tease/tease-related_meister.twig'%}
			{% endfor %}
			</section>
		</div>
	
	</footer>
{% endif %}
