{% if related_meisters %}

	<div class="loop-related">

		<header class="article-section-header">
			<div class="row-sm">

				<div class="col-sm-8">
					<h4 class="tagline">Related Episodes</h4>
				</div>
				<div class="col-sm-4">
					<a class="link-more" href="{{site.link}}/meisters" title="All Episodes">All&nbsp;Episodes&rarr;</a>
				</div>

			</div>
		</header>

		<section class="row">
		{% for m in related_meisters|slice(1,how_many) %}
			<div class="col-sm-{{grid}}">
				{% include 'tease/tease-related_meister.twig'%}
			</div>
		{% endfor %}
		</section>

	</div> <!-- /.loop-related -->

{% endif %}
