// All root styles and super base things go here

* {
	box-sizing: border-box;
}

html, 
body, 
main {
	// height: 100%;
}

body {
	background-color: $body-bkgd;
	color: $body-text;
	overflow-x: hidden;
}

img {
	max-width: 100%;
	height: auto;
}

.main {
	@extend .clearfix;
}

.block-title {
	@extend %upperspace;
}


// ----
// Components
// ----

// These are used throughout the site in various locations


// Taglines

.tagline {
	@extend %upperspace;
}

.tagline-page {
	@extend %h4;
	// @extend %full_width;
	color: $accent-dark;
	margin-top: $h2;
	margin-bottom: $h2;
	font-weight: 700;
}

.tagline-tease {
	color: $accent-med;
}

	

// Episode number with surrounding line border

.number {
	@extend %upperspace;
	border-bottom: $accent-border; 
	position:relative; 
	
	span { 
		position: relative; 
		top: $sml/1.5; 
		padding: 0 $sml 0 0;
		background-color: $body-bkgd;
	}
}


.number-wrap{
	display:block; 
    margin: 0;
}



// Lists

%list-meta-item {
	display: inline-block;
	list-style-type: none;
	font-size: $sml;
	padding: $sml/4 $sml/2;
	margin: $sml/2 $sml/2 0 0;
}


%list-meta {
	padding: 0;

	li {
		@extend %list-meta-item;	
	}
}

.list-cats {
	@extend %list-meta;
}

	.cat-item {		
		@extend %list-meta-item;
		@extend .btn-alt;
		border-radius: 4px;	
		@extend %upperspace;
	}

.list-tags {
	@extend %list-meta;
	font-style: italic;
}



// Links

.edit-link,
.edit-link:visited {
	color: $alert-danger;
	font-weight: bold;
	display: block;
	margin: $h4 0;
}

.link-more {
	display: inline-block;
	// @extend .btn;
	float: right;
	@extend %upperspace;
	font-weight: 700;

	a {
		color: $accent-light;
	}
}



// Call to action block

.cta-page {

}
	
.cta-tease {
	// background-color: $accent-med;
	// color: $text-light;
	// border: 2px solid $accent-dark;
}



// Blocks

.block-text {
	@include make-md-column(6, false);
}

.block-image {
	@include make-md-column(6);
	@extend %center-block;
	svg {
		display: none;
		@include bp(med) {
			display: block;
		}
	}
}



// ---
// Media
// ---



// ---
// Footer
// ---

.footer {
	@extend %rotate;
}