// All root styles and super base things go here

* {
	box-sizing: border-box;
}

html, 
body, 
main {
	// height: 100%;
}

body {
	background-color: $body-bkgd;
	color: $body-text;
	overflow-x: hidden;
}

img {
	max-width: 100%;
}

.main {
	@extend .clearfix;
}

.block-title {
	@extend %upperspace;
}