// Content related stuff here.
// Maybe structure it like this? Up to you!


.container {
	// @extend %rotate;
}

// ---
// Header
// ---

.header-logo svg {
	// margin-top: $sml;
	position: relative;
	top: $sml;
}

.header {
	@extend %rotate;
}

// ---
// Posts
// ---

.tease {
	border-top: $sml/3 $accent-med solid;
}

.edit-link,
.edit-link:visited {
	color: $alert-warning;
	font-weight: bold;
}

.article-title {
	// text-align: center;
}

// ---
// Pages
// ---


// ---
// Media
// ---


// ---
// Footer
// ---

.footer {
	@extend %rotate;
}