
// Content related stuff here.
// Maybe structure it like this? Up to you!

#content {
	// background: #043F7E;
}

// ---
// Header
// ---

.header-logo svg {
	// margin-top: $sml;
	position: relative;
	// top: $sml;
}

.banner {
	@extend %rotate;
	@include bp(large) {
		position: fixed;
		width: 100%;
		z-index: 5;	

	}
}

.header {
	// margin-bottom: $h3;
	// @extend %rotate;
	@include clearfix();
	@include bp(large) {
		// height: $h1;
	}
	

}

.top-bar {
	
}


// ---
// Posts and Pages
// ---


// Page typography

h4 {
	@extend %upperspace;
}

.page-title {
	color: $text-light;
	letter-spacing: 3px;
	text-transform: uppercase;
	// display: inline-block;
	position: relative;

	top: $h5;
	z-index: 10;

	@include bp(small) {
		font-size: $h1*1.5;
		top: $h5*1.25;
	}
	// background-color: rgba($accent-dark, 0.7);
	// padding: $h5 $h3;
}


.page-header {
	// text-align: center;
	// margin-bottom: $h3;	
}

.page-header {
	height: 100%;
	// margin-top: $h1;
	border-bottom: 5px solid $accent-med;
	// color: $text-light;
	// text-shadow: 1px 1px 0 $text-dark,
	// 			 2px 2px 0 rgba($text-dark, 0.6);
	// ;
	background-image: url('../img/jonk-600x400.jpg');
	background-size: cover;
	padding-top: 35%;

	@include bp(large) {
		// position: relative;
		// top: $h1;

		background-image: url('../img/jonk-1400.jpg');
			background-position: center 0;
			background-repeat: no-repeat; 
			background-attachment: fixed;
		
		// padding-bottom: 10%;
		// text-align: center;
	}

}

.page-body {
	@include clearfix();
	@include bp(sml) {
		padding: 0 $h1;
	}
}


.tagline {
	@extend %upperspace;
}

.tagline-page {
	@extend %h4;
	color: $accent-dark;
	margin-top: $h2;
	margin-bottom: $h2;
	font-weight: 700;
}

.tagline-tease {
	color: $accent-med;
}

	

// Episode number with surrounding line border

.number {
	@extend %upperspace;
	border-bottom: $accent-border; 
	position:relative; 
	
	span { 
		position: relative; 
		top: $sml/1.5; 
		padding: 0 $sml 0 0;
		background-color: $body-bkgd;
	}
}

.number-wrap{
	display:block; 
    margin: 0;
}




// Tease styles


.tease {
	// border-top: $sml/3 $accent-med solid;
	// @include make-lg-column(4, 0);
	// border: 10px solid $accent-dark;
	// background-color: $body-bkgd;
	// padding: $sml/2 $sml;
	margin-bottom: $h1;
}

.tease-deal {
	@include make-md-column(4);
}

.tease-meister {
	@include make-sm-column(6, $h1);
	&:nth-child(2n+1){
		clear:left
	}
}

.tease-footer {
	// text-align: center;
	padding: $sml/2 $sml;
}

.tease-title {
	// position: relative;
	// top: $sml;
	padding: 0;
	@extend %h3;
	// @extend %upperspace;


	a {
		
	}
}

.tease-footer {
	background-color: $accent-med;
	color: $text-light;
	border: 2px solid $accent-dark;
}

.tease-meta {
	font-size: $sml;
	color: $text-meta;
}

.tease-body {
	iframe {
		height: 120px;
		@include bp(med) {
			height: 160px;
		}
	}
}


// Call to action block

.block-cta {

}
	


// Lists


.list-meta {
	padding: 0;
	li {
		display: inline-block;
		list-style-type: none;
		@extend %rotate;
		border-radius: 4px;
		font-size: $sml;
		@extend %upperspace;
		padding: $sml/4 $sml/2;
		margin-right: $sml;
	}
}


// Links

.edit-link,
.edit-link:visited {
	color: $alert-danger;
	font-weight: bold;
	display: block;
	margin: $h4 0;
}


.link-more {
	display: inline-block;
	// @extend .btn;
	float: right;
	@extend %upperspace;
	font-weight: 700;

	a {
		color: $accent-light;
	}
}

.link-postnav {
	text-transform: uppercase;
	font-size: $sml;
}


// ---
// Media
// ---



// ---
// Footer
// ---

.footer {
	@extend %rotate;
}