
// ---
// Header
// ---

.mtns {
	position: relative;
	height: 110px;
	top: 20px;
	background-image: url('../img/svgs/mtns.svg');
	background-repeat: no-repeat;
}

.header-logo {
	position: relative;
	height: 50px;
}

.banner {
	
	a {
		color: $text-light;
	}

 	background-color: $accent-dark;
	transition: all 0.5s ease;
	position: fixed;
	
	width: 100%;
	z-index: 100;	
	
	@include bp(large) {

		.page & {
			background: linear-gradient(rgba($accent-dark, 0.5), rgba($accent-dark, 0));
		}
		
		// position: absolute;
		
	}

	border-top: $accent-border-large;
}

	.scrolled {
		background: $accent-dark !important;
	}


