// Grids and layout stuff

.container {
	max-width: $screen-lg;
	margin: 0 auto;
	@include container-fixed($h1);
}


// Header

.header {

}

.brand {
	// @include make-xs-column(6);
	@include make-lg-column(4);
}

.logo,
.menu-link {
	@include make-xs-column(6);
}


.menu-main {
	// Full row on small screens (and hidden until expanded)
	@include make-xs-column(12);
	@include make-lg-column(8);
}


// Content

.has-sidebar {
	@include make-md-column(6, 0);
}

.sidebar {
	@include make-md-column(4);
}

.loop-container {
	// @extend %row;
}



// Navigation

.nav-prevnext {
	@extend %row;
}

.link-postnav {
	@include make-xs-column(6);
}

.next {
	text-align: right;
}
