// Grids and layout stuff

%container {
	margin: 0 auto;
	@include container-fixed();
}

.container {
	@extend %container;
	max-width: $screen-lg;
}

.container-squish {
	@extend %container;
	max-width: $screen-md;
}


// Header

.header {

}

.brand {
	// @include make-xs-column(6);
	@include make-lg-column(4);
}

.logo,
.menu-link {
	@include make-xs-column(6);
}


.menu-main {
	// Full row on small screens (and hidden until expanded)

}


// Content

.has-sidebar {
	@include make-md-column(6, 0);
}

.sidebar {
	@include make-md-column(4);
}

.loop,
.featured {
	@extend .clearfix;
}

// ---
// Singles
// ---

// Gear recs
.item {
	@extend .clearfix;
	margin-bottom: $h2;
}

.item-desc,
.item-img {
	@include make-sm-column(6, false);
}

.item-img img {
	padding-left: $h3;
	display: block;
	margin: 0 auto;
}

