
// Toggle nav, courtesy Brad Frost
// http://codepen.io/bradfrost/pen/sHvaz
// I simplified some though

.menu-main {
	transition: height 0.3s ease-out;
	position: relative;
	z-index: 9;
	
}

.js .menu-main {
	overflow: hidden;
	max-height: 0;
	transition: all 0.25s ease-in-out;

	&.active {
		max-height: 25em;
	}
}

.menu-main {
	
}

.menu-items {
	margin: 0;
	padding: $sml 0 0 0;
	text-align: right;
	// @extend %rotate;

}

.menu-item {
	list-style-type: none;
	// text-align: center;

	a {
		display: block;
		padding: $sml;
		font-family: $nav-font;
		font-weight: 700;
		@extend %upperspace;
		margin-top: 0;
	}
}

@include bp(large) {
	.menu-link {
	   display: none;
	}

	.js .menu-main {
		max-height: none;
	}

	.menu-items {
		border: 0;
		margin: 0 0 0 -0.25em;
		padding: 0;
		text-align: right;
	}
	
	.menu-item {
		display: inline-block;
		margin: 0 0.25em;
		text-align: right;
	}

	.menu-item a {
		border: 0;
		font-size: $sml;
	}
}


// ----
// Hamburger Menu Icon
// http://codepen.io/lexstefan/pen/mwtcn
// ----

.menu-link {
	padding: $h4;
}

	.menu-link a {
		float: right;
	}

	.menu-link span {
  		transition: all 0.25s ease-in-out;
    	width: 40px;
    	height: 4px;
    	display: block;
    	background: $rotate-text;
    	margin: 0 0 8px 0;
  	}
    
    .menu-link span:last-child {
      	margin:0;
    }
    
    .menu-link.active span:nth-of-type(1) {
		transform: rotate(45deg);
		margin: 14px 0 0 0;
    }

    .menu-link.active span:nth-of-type(2) {
      opacity:0;
    }

    .menu-link.active span:nth-of-type(3) {
      transform: rotate(-45deg);
      margin: -16px 0 0 0;
    }

