
// ---
// Posts and Pages
// ---


// Page typography

h4 {
	@extend %upperspace;
}

.page-title {
	color: $text-light;
	@extend %upperspace;
	position: relative;
	z-index: 9;
	@extend %full_width;
	
	top: $sml;

	font-size: $h1*0.75;

	@include bp(380px) {
		// top: $base;
		font-size: $h1;
	}

	@include bp(small) {
		font-size: $h1*1.25;
		top: $h4;
	}

	@include bp(med) {
		font-size: $h1*2;
		top: $h3;
	}

	@include bp(xl) {
		// top: $h4*1.8;
	}
}


.page-header {
	overflow: hidden;
	position: relative;

	width: 100%;
	padding-top: percentage(2/3);

	background-position: center;
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-color: $accent-dark;

	@media(min-width: 1040px) {
		padding-top: 56%;
	}

	@media(min-width: 1280px) {
		padding-top: 50%;
	}

	@media(min-width: 1420px) {
		padding-top: 45%;
	}
}


.page-header-image {
	width: 100%;
	position: absolute;
	bottom: 0;
}

.page-header-caption {
	display: none;

	@include bp(small) {
		display: block;
		position: absolute;
		z-index: 99;
		right: 0;
		top: auto;
		bottom: 0;	
		
		padding: $sml;
		
		text-align: right;
		font-size: $sml;
		background-color: rgba($text-dark, 0.3);
	}

	// TODO: Could this be incorporated into a mixin somehow?
	color: $text-light;

	a {
		color: lighten($accent-med, 8%);
	}
}

.page-info {
	background-image: linear-gradient(rgba($accent-dark, 0), rgba($accent-dark, 0.5));
	position: absolute;
	width: 100%;
	bottom: 0;
	z-index: 10;
	border-bottom: $accent-med 3px solid;

	@include bp(small) {
		border-bottom: $accent-border-large;
	}
}

.tagline-page {
	@include bp(med) {
		@extend %full_width;	
	}
	@extend %full_width;
	@extend %h4;
	color: $accent-dark;
	margin-top: $h2;
	margin-bottom: $h2;
	font-weight: 700;
}


.has-sidebar {
	@extend %full_width;
	@include make-lg-column(8.5);
}

.sidebar {
	@extend %full_width;
	@include make-lg-column(3.5);	
}



// Text and Image block

.image-inline {
	@include make-sm-column(6);
	padding-top: $base;
	padding-bottom: $base;
}

	.image-inline-left {
		float: left;
		padding-left: 0;
	}

	.image-inline-right {
		float: right;
		padding-right: 0;
	}