
.widgets {
	list-style-type: none;
	margin: 0;
	padding: 0;

	@include bp(med) {
		 padding-left: $h3;
	}

	ul {
		@extend %list-meta;		
	}
}

.widget {
	padding: $h4;
	background-color: lighten($text-meta, 35%);
	margin-bottom: $h4;
}