
.widgets {
	list-style-type: none;
	margin: 0;
	padding: 0;

	@include bp(large) {
		 padding-left: $h3;
	}

	ul {
		@extend %list-meta;		
	}
}

.widget {
	padding: $base $base 0;
	background-color: lighten($text-meta, 35%);
	margin-bottom: $h4;
	border: $accent-border;
	
	p {
		text-align: center;
		
		@include bp(med) {
			font-size: $sml;
			// text-align: left;	
		}
		
		padding: $sml;
		background-color: $body-bkgd;
		@extend %row;
	}
	

	@include make-sm-column(6, false);
	@include make-md-column(4, false);
	@include make-lg-column(12, false);
}