
.widgets {
	list-style-type: none;
	margin: 0;
	padding: 0;

	@include bp(large) {
		 padding-left: $h3;
	}

	ul {
		@extend %list-meta;		
	}
}

.widget {
	padding: $h4;
	background-color: lighten($text-meta, 35%);
	margin-bottom: $h4;
	@include make-sm-column(6);
	@include make-md-column(4, false);
	@include make-lg-column(12, false);
}