
// Tease styles


.tease {
	// border-top: $sml/3 $accent-med solid;
	// @include make-lg-column(4, 0);
	// border: 10px solid $accent-dark;
	// background-color: $body-bkgd;
	// padding: $sml/2 $sml;
	margin-bottom: $h2;
}

.tease-deal {
	@extend %row_of_three;
}

	.cta-tease {
		// @extend .btn;
	}

.tease-meister {
	// @extend %row_of_two;
}

.tease-home {
	@include make-sm-column(6);
	// @include make-md-column(4);
	iframe {
		// height: 150px;
		@include bp(med) {
			// height: 300px;	
		}
	}
}

.tease-title {
	// position: relative;
	// top: $sml;
	padding: 0;
	// @extend %h3;
	// @extend %upperspace;


	a {
		
	}
}

.tagline-tease {
	color: $accent-med;
	margin: $sml 0;
}

.tease-body, 
.article-section {
	iframe {
		height: 120px;

		// TODO: should be smaller for mobile
		.tease-featured & {
			height: 300px;	
			@include bp(med) {			
				height: 420px;			
			}
		}

		@include bp(med) {
			height: 160px;
		}
	}
}

.tease-body {
	// @include make-row();
}

// Loops

.loop {
	@extend %full_width;
}

.loop-minor .tease {
	@extend %row_of_three;
}

.thumb-container {
	position: relative;
}

.thumb-caption {
	position: absolute;
	bottom: 0;
	padding: 0 $base;
	width: 100%;
	@include rotate($bkgd: $accent-med);
	display: none;

	.tagline {
		margin-bottom: $sml;
	}

	.link-more {
		margin-top: 0;
		display: block;
		margin-bottom: $base;
	}
}