{% extends "tease/tease.twig" %}

{% block content %}
	{% include 'partials/micro/post-date.twig' %}
	<h3 class="spacer-bot"><a href="{{post.link}}">{{post.title}}</a></h3>
	{# Doing away with thumbnail for now #}
	{# {% if post.get_thumbnail %}
		{% include 'partials/pictures/picture-logic.twig' with 
			{
			 	image: post.get_thumbnail, 
				loc: 'r', 
				wrap: true,
				size: 'quarter'
			} 
		%}
	{% endif %} #}
	{{post.get_preview(40, false, '...', false)}}
	<a href="{{post.link}}" class="link-more">Read more &rarr;</a>
	{% include 'partials/micro/edit-link.twig' %}
{% endblock %}