
// All root styles and super base things go here

* {
	box-sizing: border-box;
}

body {
	background-color: $body-bkgd;
	color: $body-text;
	overflow-x: hidden;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
	margin: 0 auto;
	
	@include bp(sml) {
		margin: auto;
	}
}

.main {
	@extend .clearfix;
	background-position: bottom right; 
	
	padding-bottom: $h1*2;	

	@include bp(med) {
		padding-bottom: $h1*4;	
	}
	
	background-size: 100%;
	background-image: url('../img/svg-min/mtns-wide.min.svg');
	background-repeat: no-repeat;
}

.block-title {
	@extend %upperspace;
}


// ----
// Components
// ----

// These are used throughout the site in various locations


// Taglines

.tagline {
	@extend %upperspace;
}



// Episode number with surrounding line border

.number {
	@extend %upperspace;
	border-bottom: $accent-border; 
	position:relative; 
	
	span { 
		position: relative; 
		top: $sml/1.5; 
		padding: 0 $sml 0 0;
		background-color: $body-bkgd;
	}
}


.number-wrap{
	display: block; 
    margin: 0;
    @extend .clearfix;
}



// Lists

%list-meta-item {
	display: inline-block;
	list-style-type: none;
	font-size: $sml;
	padding: $sml/4 0 $sml/2;
}


%list-meta {
	padding: 0;
	margin: 0;

	li {
		@extend %list-meta-item;	
	}
}

.list-cats {
	@extend %list-meta;
}

	.cat-item  {
		@extend %upperspace;
		
		a {
			@extend .btn-alt;
			border-radius: 4px;	
		}
	}

.list-tags {
	@extend %list-meta;
	margin-bottom: 0;

	li {
		padding-right: $sml;
	}

	.tag {
		font-style: italic; 
	}
}



// Additional resources

.list-table {
	@extend %unstyle-list;

	li a {
		transition: padding-left 0.25s;
	}
	
	li a:before {
		content: url('../img/svgs/arrow-right.svg');
		padding-right: $sml/2;
    	width: $sml;
    	position: relative;
    	top: 3px;
	}

	li a:hover {	
    	padding-left: $sml/2;
	}
	
}


// Links

.edit-link,
.edit-link:visited {
	color: $alert-danger;
	font-weight: bold;
	display: block;
	margin: $h4 0;
}

.link-more {
	float: right;
	margin-top: $base;
	@extend .btn-alt;

	a {
		color: $accent-light;
	}
}





// Call to action block

.cta-page {
}
	
.cta-tease {
}



// Blocks

.block-text {
	// @include make-md-column(6, false);
}

.block-image {
	@include make-md-column(6);
	@extend %center-block;
	svg {
		display: none;
		@include bp(med) {
			display: block;
		}
	}
}



// ---
// Media
// ---


