
// All root styles and super base things go here

* {
	box-sizing: border-box;
}

body {
	background-color: $body-bkgd;
	color: $body-text;
	overflow-x: hidden;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
	margin: 0 auto;
	
	@include bp(sml) {
		margin: auto;
	}
}

.main {
	@extend .clearfix;
	background-position: bottom center; 
	
	padding-bottom: $h1*2;	

	@include bp(med) {
		padding-bottom: $h1*4;	
	}

	@include bp(large) {
		padding-bottom: $h1*6;	
	}
	
	background-size: 100%;
	background-image: url('../img/svg-raw/mtns-wide.svg');
	background-repeat: no-repeat;
}

.block-title {
	@extend %upperspace;
}


// ----
// Components
// ----

// These are used throughout the site in various locations-ish

// Taglines

.tagline {
	@extend %upperspace;
}



// Episode number with surrounding line border

.number {
	@extend %upperspace;
	border-bottom: $accent-border; 
	position:relative; 
	
	span { 
		position: relative; 
		top: $sml/1.5; 
		padding: 0 $sml 0 0;
		background-color: $body-bkgd;
	}
}


.number-wrap{
	display: block; 
    margin: 0;
    @extend .clearfix;
}




// Links

.edit-link,
.edit-link:visited {
	color: $alert-danger;
	font-weight: bold;
	display: block;
	margin: $h4 0;
}

.link-more {
	float: right;
	margin-top: $base;
	@extend .btn-alt;

	a {
		color: $accent-light;
	}
}





// Call to action block

.cta-page {
}
	
.cta-tease {
}



// Blocks

.block-text {
	// @include make-md-column(6, false);
}

.block-image {
	@include make-md-column(6);
	@extend %center-block;
	svg {
		display: none;
		@include bp(med) {
			display: block;
		}
	}
}



// ---
// Media
// ---


