.footer {
	border-top: $accent-border-large;

	input {
		font-size: $sml;
		color: $body-text;
		padding: $sml/2 $xsml;
		width: 100%;
	}

	text-align: center;
	
	@include bp(med) {
		text-align: left;	
	}
}

.share-links {
	@extend %unstyle-list;
	margin-bottom: $base;
	li {
		display: inline-block;
	}

	.shape {
		display: inline-block;
		width: $h3;
		height: $h3;
		margin-right: $base;
	}
}

.menu-footer {

	a {
		color: $accent-med;
		font-weight: 500;
		&:hover {
			color: $accent-dark;
		}
	}
}
