.site-footer {
	border-top: $accent-border-large;
	position: relative;

	input {
		font-size: $sml;
		color: $body-text;
		padding: $sml/2 $xsml;
		width: 100%;
	}

	text-align: center;
	
	@include bp(med) {
		text-align: left;	
	}
}

.site-main {
	position: relative;
}

.page-footer-art {
	position: absolute;
	width: 100%;
	bottom: 0;
}

.menu-footer {

	a {
		color: $accent-med;
		font-weight: 500;
		&:hover {
			color: $accent-dark;
		}
	}
}


