
// -----
// Form styles
// -----

// Remove the blue outline from Chrome
*:focus {
    outline: 0;
}

label, select {
	display: block;
}

label {
	margin-top: $h4;
	margin-bottom: $sml/2;
	@extend %upperspace;
	font-weight: 700;
}

input[type="search"] {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-webkit-appearance: textfield;
	box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
	-webkit-appearance: none;
}

textarea {
	overflow: auto;
	vertical-align: top;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"] {
	
	@extend %form-base;
	width: 100%;
	
	border: $accent-border;

	&:focus {
		border-color: $accent-med;
		background-color: $white;
	}
}

input[type="radio"],
input[type="checkbox"] {
	margin: 4px 0 0;
	margin-top: 1px \9;
	*margin-top: 0;
	line-height: normal;
	cursor: pointer;
}

input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
}

input[type="submit"],
button {
	@extend .btn;
}


select,
input[type="file"] {
	*margin-top: 4px; /* In IE7, the height of the select element cannot be changed by height, only font-size */
}

select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
	outline: $accent-border;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}


// ----
// Gravity forms
// ----

.gform_fields {
	padding: 0;
	margin: 0;	
}

.mtn-field-name {
	@include make-md-column(6);
	
	&:first-child {
		padding-left: 0;
	}

	.name_first,
	.name_last {
		@include make-sm-column(6, false);
	}
}

.mtn-field-email {
	@include make-md-column(6, false);
}

.gfield {
	list-style-type: none;
}

.mtn-field-message, 
.gform_footer {
	@include make-xs-column(12, false);
}

.gform_footer {
	margin-top: $h3;
	.gform_button {
		float: right;
	}
}

.ginput_complex label {
	@extend %meta;
	margin-top: $sml/2;
	margin-bottom: $sml;
	font-weight: 400;
}

#mc-embedded-subscribe {
	border: 1px solid $accent-med;
}



// Search form

.menu-item-search {
	// cursor: pointer;
}

// A little overspecified, unfortunately
input.search-field {
	border-color: $accent-med;
	margin-bottom: $sml;
	padding-left: $h2;
}

.search-field,
.shape-search {
	display: inline-block;
}

.shape-search {
	position: absolute;
	fill: $accent-med;
	cursor: pointer;
}

.shape-search {
	fill: $accent-med;
	height: $h4*1.2;	
	width: $h2;

	// Magic number to nudge to center of banner. Blah.
	position: absolute;
	left: 0;
	top: $sml;

	@include bp(med) {
		position: relative;
		top: $xsml;
	}
}


@include bp(med) {

	.search-form {
		// position: absolute;
		// right: 0;
		// z-index: $ztop;
	}

	input.search-field {
		opacity: 0;
		position: absolute;
		top: 48px;
		width: 250px;
		right: 0;
		transition: 0.4s all ease;
		padding-left: $base;
		border: 5px solid;
		border-color: $accent-dark !important; // Cry.
	}

	input.search-field:focus {
		opacity: 1;
	}

}
