
// Toggle menu, courtesy Brad Frost
// http://codepen.io/bradfrost/pen/sHvaz
// I simplified some, though.


.menu-top {

	overflow: hidden;
	max-height: 0;
	
	.no-js & {
		overflow: visible;
		max-height: none;
	}
	
	// transition: all 0.2s ease-in-out;
	
	@include make-xs-column(12, false);
	@include make-md-column(10);

	&.active {
		max-height: 25em;
	}

	text-align: center;

	.menu-item {

		a {
			color: $text-light;
			padding: $sml 0;
		}
	}
}

.menu-items {
	@extend %unstyle-list;
}

.current-menu-item {
	color: $accent-med;
}

// These styles only apply to the top nav
.menu-item {
	list-style-type: none;

	a {
		display: block;
		font-weight: 700;
		@extend %upperspace;
		margin-top: 0;
	}

	&.new a {
		
		&:before {
			content: 'NEW: ';
			color: $alert-success;
		}

	}
}

.menu-item-cta {

	// Bad max width
	@media(max-width: $screen-md) {
		.menu-top & {
			padding-bottom: $sml;
			width: 100%;
		}
	}
	
	.cta { 
		@extend .btn; 
	}

	.cta-alt { 
		@extend .btn-alt; 
	}

	// Ew!
	a {
		font-size: $sml !important;
		padding: $sml/2 $sml !important;
	}
}



// ----
// Expanded Nav
// ----

@include bp(med) {

	// Hide mobile menu link
	.menu-link {
	   display: none;
	}

	.menu-top {
		max-height: none;
		transition: background 0.25s ease-in-out;

		.menu-items {
			text-align: right;
		}

		.menu-item {
			display: inline-block;
			margin: 0 $sml;
		}

		.menu-item-cta {
			margin: 0;
		}
	}

	.menu-items {
		border: 0;
	}
	
		.menu-item {
			text-align: left;
		}

	.current-menu-item {

		a {
			color: $text-light;	
		}
		
		&:before {
			content: '';
			position: absolute;
			
			width: 0; 
			height: 0; 

			// NOTE: This isn't quite centered. That would be nice.
			border-left: 41px solid transparent;
			border-right: 41px solid transparent;
			border-top: 5px solid $accent-med;
		}
	}

	.menu-item a {
		border: 0;
		font-size: $sml;

		&:hover {
			color: $accent-med;
		}
	}
}


// ----
// Hamburger menu Icon
// http://codepen.io/lexstefan/pen/mwtcn
// ----

.menu-link {
	padding: $sml;
}

	.menu-link a {
		float: right;
	}

	.menu-link span {
  		transition: all 0.05s ease-in-out;
    	width: 30px;
    	height: 3px;
    	display: block;
    	background: $rotate-text;
    	margin: 0 0 5px 0;
  	}
    
    .menu-link span:last-child {
      	margin:0;
    }
    
    .menu-link.active span:nth-of-type(1) {
		transform: rotate(45deg);
		margin: 10px 0 0 0;
    }

    .menu-link.active span:nth-of-type(2) {
      	opacity:0;
    }

    .menu-link.active span:nth-of-type(3) {
      	transform: rotate(-45deg);
      	margin: -11px 0 0 0;
    }



// ----
// Posts menu
// ----

.nav-prevnext {
	@include clearfix;
	border-top: $accent-border;
	border-bottom: $accent-border;
	margin-top: $h3;
	padding: $h4;
}

.link-postnav {
	@extend %upperspace;
	font-size: $sml;
	font-weight: 700;
}

.link-postnav {
	@include make-sm-column(6);

}

.prev,
.next {
	word-break: break-all;
	text-align: center;
}

.prev {
	@include bp(small) {
		text-align: left;
	}
}

.next {
	@include bp(small) {
		text-align: right;	
	}
}
