
// ---
// Posts and Pages
// ---


// Page typography

.page-body {
	position: relative;
	z-index: $ztop;
}

.page-title {
	color: $text-light;
	 @include upperspace;
	position: relative;
	z-index: $zmid;

	font-size: $h1*0.75;	
	font-size: 13vw;
	
	top: $sml;
	
	
	// NOTE: Gross. So many magic numbers, but better than using Fittext.

	@include bp(380px) {
		font-size: $h1;
		font-size: 13vw;
	}

	@include bp(small) {
		font-size: $h1*1.4;
		font-size: 14vw;

		top: $h4*1.25;
	}

	@include bp(med) {
		font-size: 13vw;
	}

	@include bp(large) {
		font-size: 10vw;
		top: $h3*1.05;
	}
}

	.page-title-simple {
		margin-top: $h2;
		font-size: $h1;
		
		@include bp(med) {
			margin-top: $h1;
		}
	}

.tagline-page {
	font-size: $h4;
	color: $accent-dark;
	margin-top: $h2;
	margin-bottom: $h2;
	font-weight: 700;
}



// ----
// Page Header
// ----

.page-header {
	
	overflow: hidden;
	position: relative;

	width: 100%;
	opacity: 0;

	// background-position: center;
	// background-size: 100% auto;
	// background-repeat: no-repeat;
	background-color: $accent-dark;
	padding-top: 55%;
	
	@media(min-width: 980px) {
		padding-top: 45%;
	}

	@media(min-width: 1420px) {
		padding-top: 40%;
	}
}

	.page-header-image {
		opacity: 0;
		position: absolute;
		margin: auto;
		width: 100%;
		top: 0; 
		left: 0; 
		bottom: 0; 
		right: 0;
	}

	.page-header-simple {
		padding-top: $h1;
	}

.page-header-caption {
	top: 60px;
	bottom: auto;
	display: block;
	position: absolute;
	z-index: $ztop;
	right: 0;

	padding: $sml;
	
	text-align: right;
	background-color: rgba($text-dark, 0.3);

	@include bp(small) {
		top: 60px;
		bottom: auto;
	}

	@include bp(large) {
		top: auto;
		bottom: 0;
	}

	// TODO: Could this be incorporated into a mixin somehow?
	color: $text-light;

	// This is over specified. Oh well, for now.
	.rotate & a {
		color: lighten($accent-med, 8%);
		border-bottom: none;
	}
}

.page-info {
	background-image: linear-gradient(rgba($accent-dark, 0), rgba($accent-dark, 0.5));
	position: absolute;
	width: 100%;
	bottom: 0;
	z-index: $zmid;
	border-bottom: $accent-med 3px solid;

	@include bp(small) {
		border-bottom: $accent-border-large;
	}
}



// Section styles

.article-section,
.article-section-header {
	margin-bottom: $h3;
}

