
// ---
// Posts and Pages
// ---


// Page typography

h4 {
	@extend %upperspace;
}

.page-title {
	color: $text-light;
	@extend %upperspace;
	position: relative;
	z-index: 9;

	font-size: $h1*0.75;	
	font-size: 13vw;
	
	top: $sml;
	
	
	// NOTE: Gross. So many magic numbers, but better than using Fittext.

	@include bp(380px) {
		font-size: $h1;
		font-size: 13vw;
	}

	@include bp(small) {
		font-size: $h1*1.4;
		font-size: 14vw;

		top: $h4*1.25;
	}

	@include bp(med) {
		font-size: 13vw;
	}

	@include bp(large) {
		font-size: 10vw;
		top: $h3*1.05;
	}
}

	.page-title-simple {
		@extend .article-title;
	}

.tagline-page {
	// @extend %full_width;
	@extend %h4;

	color: $accent-dark;
	margin-top: $h2;
	margin-bottom: $h2;
	font-weight: 700;
}




// Page Header

.page-header {
	overflow: hidden;
	position: relative;

	width: 100%;
	opacity: 0;

	background-position: center;
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-color: $accent-dark;
	padding-top: percentage(2/3);
	
	@media(min-width: 1040px) {
		padding-top: 45%;
		// padding-top: 56%;
	}

	@media(min-width: 1280px) {
		// padding-top: 50%;
	}

	@media(min-width: 1420px) {
		padding-top: 40%;
	}
}

	.page-header-simple {
		padding-top: 10%;
	}

	#headerImageLoader {
		display: none;
	}

.page-header-caption {
	top: 60px;
	bottom: auto;
	display: block;
	position: absolute;
	z-index: 99;
	right: 0;

	padding: $sml;
	
	text-align: right;
	background-color: rgba($text-dark, 0.3);

	@include bp(small) {
		top: 60px;
		bottom: auto;
	}

	@include bp(large) {
		top: auto;
		bottom: 0;
	}

	// TODO: Could this be incorporated into a mixin somehow?
	color: $text-light;

	// This is over specified. Oh well, for now.
	.rotate & a {
		color: lighten($accent-med, 8%);
	}
}

.page-info {
	background-image: linear-gradient(rgba($accent-dark, 0), rgba($accent-dark, 0.5));
	position: absolute;
	width: 100%;
	bottom: 0;
	z-index: 10;
	border-bottom: $accent-med 3px solid;

	@include bp(small) {
		border-bottom: $accent-border-large;
	}
}



// Section styles

.article-section,
.article-section-header {
	margin-bottom: $h3;
}



// Text and Image block

.image-inline {
	padding-top: $base;
	padding-bottom: $base;
}

	.inline-l {
		float: left;
		padding-left: 0;
	}

	.inline-r {
		float: right;
		padding-right: 0;
	}

.image-half {
	@include make-xs-column(6);
} 

.image-quarter {
	@include make-xs-column(6);
	@include make-sm-column(4, false);
} 

.image-sixth {
	@include make-xs-column(4);
	@include make-sm-column(2, false);
} 

// Blank Block

.block-blank {
	margin-top: $h2;
}

