.has-sidebar {
	@include make-md-column(8.5);
}

.sidebar {
	@include make-md-column(3.5);
}

.widgets {
	list-style-type: none;
	margin: $h3 auto 0 auto;

	@include bp(large) {
		margin-top: 0;
	}

	padding: 0;
	@include clearfix;
}

	.widgets-support {
		border: $accent-border;
		background-color: lighten($text-meta, 35%);
	}

.widget-stacked {
	padding: $base $base 0;
	margin-bottom: $h4;
	
	p {
		text-align: center;
		@extend %meta;
		
		padding: $sml;
		background-color: $body-bkgd;
		@extend %row;
	}

	.widgets-fancy & {
		border: $accent-border;
		background-color: lighten($text-meta, 35%);
	}

	margin-right: $sml;
	
	@include bp(sm) {
		&:last-child {
			margin-right: 0;
		}
	}

	@include bp(lg) {
		margin-right: 0;
	}

	// @include make-sm-column(6);
	@include make-sm-column(4, false);
	@include make-md-column(12, false);

}

.widget-title {
	@extend %h5;
	
	line-height: $line-height-base;

	margin: 0;
	padding: $h2 0 0 0;
	margin-bottom: $sml;
}


