
// Tease styles

.tease {
	padding-bottom: $base;
	margin-bottom: $h3;
	@include clearfix;
}

.tease-deal,
.tease-featured-deal {
	margin-bottom: $h3;
	@extend .clearfix;
	border-bottom: 1px solid $accent-light;
}

	.home .tease-featured-deal {
		border-bottom: 0;
	}

.tease-home {
	@include make-sm-column(6);
}

.tease-title {
	padding: 0;

	a {}
}

.tagline-tease {
	color: $accent-med;
	margin: $sml 0;
}

.tease-body,
.article-section {
	iframe {
		height: 120px;

		// TODO: should be smaller for mobile
		.tease-featured & {
			height: 300px;
			@include bp(med) {
				height: 420px;
			}
		}

		@include bp(med) {
			height: 160px;
		}
	}
}



// Loops

.loop-thumbs > .row-sm {
  @include bp(small) {
    @include grid($wrap: wrap);
  }
}

.loop-thumbs .tease {
  @include bp(small) {
    @include cell(half);
  }

  @include bp(med) {
    @include cell(third);
  }

  body:not(.home) & {
    @include bp(large) {
      @include cell(fourth);
    }
  }

}

.loop-related {
	margin-top: $h3;
}

.loop-related .tease {
	margin-bottom: 0;
}

// Hide lazy loading thumbnails for no js (they are in <noscript> tags)
.no-js .lazyload {
    display: none;
}

.thumb-container {
	position: relative;

  img {
    width: 100%;
  }
}

.thumb-caption {
	position: absolute;
	bottom: 0;
	padding: 0 $base;
	width: 100%;
	@include rotate($bkgd: $accent-dark);
	display: none;

	.meta {
		color: $text-light;
	}

	.link-more {
		margin-top: 0;
		display: block;
		margin-bottom: $base;
	}
}


// Tease typography

.tease-cta {
	font-weight: 700;
}

