{% extends 'page-archive.twig' %}

{% block content %}

<div class="page-body">
    <div class="container">

    	<header class="article-header">
	    	<h1 class="tagline tagline-page">{{title}}</h1>
    	</header>
    	
        {% for post in posts %}
        	{# {% include 'tease-minor_meister.twig' %} #}
        	{{post.title}} <br>
        {% endfor %}
    
    </div>
</div>


{% endblock %}