{% extends 'page-archive.twig' %}

{% block content %}

<div class="page-body">
    <div class="container">

    	<header class="article-header">
	    	<h1 class="tagline tagline-page"><span class="special">Category:</span> {{title}}</h1>
    	</header>
    	
        {% for post in posts %}
        	{% include 'tease-meister.twig' %}
        {% endfor %}
    
    </div>
</div>


{% endblock %}