{% extends 'page-archive.twig' %}

{% block content %}

<div class="page-body">
    <div class="contain-sm">

    	<header class="article-header">
	    	<h1 class="tagline tagline-page">{{title}}</h1>
    	</header>
    	
        {% include 'tease/tease-archive.twig' with {type: 'meister', text:'Episodes'} %}
    </div>
</div>


{% endblock %}