{% extends 'page-archive.twig' %}

{% block content %}

<div class="page-body">
    <div class="contain-sm">

    	<header class="article-header">
	    	<h1 class="tagline tagline-page">{{title}}</h1>
    	</header>
    	
        {% include 'tease/tease-archive.twig' with {type: 'meister', text:'Episodes'} %}
        {% include 'tease/tease-archive.twig' with {type: 'gear'} %}
        {# {% include 'tease/tease-archive.twig' with type: 'post' %} #}


       

       {#  <section class="article-section">

            <header class="article-section-header">
                <div class="number-wrap">
                    <div class="number"><span class="meta">Gear</span></div>
                </div>
            </header>
        
        </section>

        <section class="article-section">

            <header class="article-section-header">
                <div class="number-wrap">
                    <div class="number"><span class="meta">Deals</span></div>
                </div>
            </header>
        
        </section> #}
    </div>
</div>


{% endblock %}