{% block html_head_container %}
{% include 'html-header.twig' %}
    {% block head %}
    {% endblock %}
    </head>
{% endblock %}
    <body data-template="base.twig" class="{{body_class}}">
        
        <div class="svgsprites">
            {% include 'partials/svg-defs.svg' %}
        </div>

        <header class="header" role="banner">
            {% block header %}
                {% include 'header.twig' %}
            {% endblock %}
        </header>

        <main id="content" class="main" role="main">
            {% block content %}
                Oops! Nothing here.
            {% endblock %}
        </main>

        {% block footer %}
            <footer class="footer" role="contentinfo">
                {% include 'footer.twig' %}         
            </footer>
            {{ function('wp_footer') }}            
        {% endblock %}

    </body>
</html>
