
{% include "sidebar-footer.twig" %}

<div class="clearfix">
	<div class="col-sm-4">
		<p class="meta">&copy; {{site.title}} {{"now"|date('Y')}}</p>
	</div>
	<div class="col-sm-8 text-right">
		<p class="meta">Powered by WordPress and <a href="http://upstatement.com/timber" target="blank">Timber</a>.</p>	
	</div>	
</div>

<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5204f45602e01138" async="async"></script>
