
{% include "sidebar-footer.twig" %}

<div class="clearfix">
	<div class="col-sm-4">
		<p class="meta">&copy; {{site.title}} {{"now"|date('Y')}}</p>
	</div>
	<div class="col-sm-8 text-right">
		<p class="meta">Powered by WordPress and <a href="http://upstatement.com/timber" target="blank">Timber</a>.</p>	
	</div>	
</div>