
{# {% include "sidebar-footer.twig" %} #}

	{# <h4>Subscribe</h4> #}



<div class="creds">
	<div class="container">
		<div class="social">
			<svg class="shape shape-facebook"><use xlink:href="#shape-facebook" /></svg>
			<svg class="shape shape-twitter"><use xlink:href="#shape-twitter" /></svg>
			<svg class="shape shape-instagram"><use xlink:href="#shape-instagram" /></svg>
		</div>
	</div>
	
	<div class="container">
		<p class="meta">Powered by WordPress and <a href="http://upstatement.com/timber" target="blank">Timber</a>.</p>	
		<p class="meta copyright">&copy; {{site.title}} {{"now"|date('Y')}}</p>
	</div>
</div>