	<div class="container">
		<ul class="share-links">
			<li>
				<a href="http://facebook.com/mtnmeister" target="blank">
					<svg class="shape shape-facebook"><use xlink:href="#shape-facebook" /></svg>
				</a>	
			</li>
			<li>
				<a href="http://twitter.com/mountainmeister" target="blank">
					<svg class="shape shape-twitter"><use xlink:href="#shape-twitter" /></svg>
				</a>
			</li>
			<li>
				<a href="http://instagram.com/mountainmeister" target="blank">
					<svg class="shape shape-instagram"><use xlink:href="#shape-instagram" /></svg>
				</a>
			</li>
			{# <li>
				<a href="mailto:admin@mtnmeister.com" target="blank">
					<svg class="shape shape-mail"><use xlink:href="#shape-mail" /></svg>
				</a>
			</li> #}
		</ul>

		<div class="clearfix">
			{{footer_widgets}}
		</div>

		<div class="clearfix meta">
			<p class="meta"><a href="mailto:info@mtnmeister.com">info@mtnmeister.com</a><br>Boston, Massachusetts</p>
					&nbsp;
					&nbsp;
			<p class="meta copyright">&copy; {{site.title}} {{"now"|date('Y')}}</p>	
			<p class="meta">Site by <a href="http://notlaura.com" target="blank">Lara</a>. Powered by WordPress and <a href="http://upstatement.com/timber" target="blank">Timber</a>.</p>
		</div>	

	</div> <!-- /.container -->

