
{% include "sidebar-footer.twig" %}

<div class="clearfix">
	<div class="col-sm-4">
		<p class="meta">&copy; {{site.title}} {{"now"|date('Y')}}</p>
	</div>
	<div class="col-sm-8 text-right">
		<p class="meta">Powered by WordPress and Timber. See the source <a href="http://github.com/laras126/mtnmeister-theme" target="blank">on Github</a>.</p>	
	</div>	
</div>
