{% extends "page.twig" %}

{% block content %}

	<div class="container">
		<header class="page-header home-header">
			<h1 class="page-title"><span class="special">MTN</span>meister</h1>	
			<h1>PODCAST</h1>	
		</header>

		<h2>MTNmeister is a bi-weekly, 30 minute podcast interviewing outdoors professionals.</h2>
		
		{% include ['tease-todays_meister.twig', 'tease.twig'] %}

	{% for post in deals %}
		{% include ['tease-deal.twig', 'tease.twig'] %}
	{% endfor %}
 	
 	</div>
{% endblock %}