<div class="banner">
    <div class="container">
        <div class="brand">
            <div class="logo">
                <a class="tagline" href="/" title="{{site.name}}" rel="home"><span class="special">MTN</span>MEISTER</a>
            </div>
            <div class="menu-link">
                <a href="#menu">
                  <span></span>
                  <span></span>
                  <span></span>
                </a>    
            </div> <!-- .menu-link -->
        </div>

        <nav id="menu" class="menu-main" role="navigation">
            <ul class="menu-items">
            {% for item in main_nav.items %}
                <li class="{{item.classes | join(' ')}}">
                    <a href="{{item.link}}">{{item.title}}</a>
                </li>
            {% endfor %}
            </ul>
        </nav><!-- /menu-main -->
    
    </div>
</div>