{% extends "page.twig" %}

{% block today %}
	{% for m in meisters|slice(0,1) %}
		{% include 'tease/tease-todays_meister.twig' %}
	{% endfor %}
{% endblock %}

{% block loop %}
	<div class="loop loop-main">
		{% for m in meisters|slice(1, 1) %}
			{% include ['tease/tease-meister.twig', 'tease/tease.twig'] %}
		{% endfor %}	
	</div>
{% endblock %}

{% block loop_minor %}
	<div class="loop loop-thumbs">
		{% for m in meisters|slice(2) %}
			{% include ['tease/tease-minor_meister.twig', 'tease/tease.twig'] %}
		{% endfor %}
	</div>
{% endblock %}