{% extends "page-archive.twig" %}


{% block loop %}

	{% include ['tease-todays_meister.twig', 'tease.twig'] %}
	
	<div class="loop">
		{% for post in meisters %}
			{% include ['tease-meister.twig', 'tease.twig'] %}
		{% endfor %}	
	</div>
	
{% endblock %}