{% extends "page.twig" %}
{# 
{% block today %}

{% endblock %} #}

{% block loop %}
	{% include 'tease-todays_deal.twig' %}
	<div class="row">
	{% for post in deals %}
		{% include ['tease-deal.twig', 'tease.twig'] %}	
	{% endfor %}
	</div>
{% endblock %}