{% extends "base.twig" %}

{% block content %}

    {% include 'partials/page-header.twig' %}
	     
	<div class="page-body {{sidebar_class}}">
	 	<div class="container">
	 		<p class="lead">{{post.introduction}}</p>
			{% include 'partials/acf-block-loop.twig' %}
		</div>
	</div>

	{% include 'partials/edit-link.twig' %}
	
{% endblock %}

