{% extends "page.twig" %}

{% block above_content %}
	
	<h2 id="current-cat">Find a Meister!</h2>

	<ul class="list-cats">

	{% for cat in cats %}
		<li class="cat-item">
			<a class="load" data-cpt="meister" data-id="{{cat.term_id}}"><strong class="cat-btn">{{cat.name}}</strong></a>
		</li>
	{% endfor %}

	</ul>
	
	<div class="results-container row">
		{% include 'partials/micro/spinner.twig' %}
		<div id="results"></div>
	</div>

{% endblock %}