{% extends "page.twig" %}

{% block today %}
	{% include ['tease-todays_meister.twig', 'tease.twig'] %}
{% endblock %}

{% block loop %}
	<div class="loop">
		{% for post in meisters %}
			{% include ['tease-meister.twig', 'tease.twig'] %}
		{% endfor %}	
	</div>
{% endblock %}