{% extends "page.twig" %}

{% block content %}

    {% include 'partials/page-header.twig' %}

    <div class="container">
        <div class="page-body {{sidebar_class}}">
            
            <p class="tagline tagline-page">{{post.tagline}}</p>
            {% block loop %}{% endblock %}
            {% include 'partials/acf-block-loop.twig' %}    
        
        </div>
    </div>

{% endblock %}