{% extends "base.twig" %}

{% block content %}

    {% include 'partials/page-header.twig' %}
		
		<div class="page-body container">
			
			<p class="tagline tagline-page">{{post.tagline}}</p>
			
			{% block today %}{% endblock %}

			<div class="page-content {{sidebar_class}}">		
				<p class="lead">{{post.introduction}}</p>	
				{% block loop %}{% endblock %}
				{% include 'partials/acf-block-loop.twig' %}
			</div>

			{%  if sidebar %}
				<aside class="sidebar">
					{{sidebar}}
				</aside>
			{% endif %}	
		 </div>
		<div class="container">
			{% block loop_minor %}{% endblock %}
		</div>	
		{# </div> <!-- /.page-body-container --> #}

	{% include 'partials/edit-link.twig' %}
	
{% endblock %}

