{% extends "page.twig" %}

{% block above_content %}
	
	<h2 id="current-cat">Find a Meister!</h2>
	<div class="contain">
		<ul class="row unstyle-list col-sm-2 cat-list">
		
		{% for cat in cats %}
			<li>
				<a class="load" data-cpt="meister" data-id="{{cat.term_id}}"><strong class="cat-btn">{{cat.name}}</strong></a>
			</li>
		{% endfor %}

		</ul>
		<div class="col-sm-10" id="results"></div>
	</div>
{% endblock %}