{% extends "base.twig" %}

{% block content %}

    {% include 'partials/page-header.twig' %}
		
		<div class="page-body">
			<div class="container">
				
				<p class="tagline tagline-page">{{post.tagline}}</p>
		 		<p class="lead">{{post.introduction}}</p>
				{% include 'partials/acf-block-loop.twig' %}	

			</div>
		</div>
		
		{%  if sidebar %}
			<aside class="sidebar">
				{# {{sidebar}} #}
			</aside>
		{% endif %}
		
	</div>

	
	{% include 'partials/edit-link.twig' %}
	
{% endblock %}

