{% extends "page.twig" %}

{% block loop %}

	{% for d in deals|slice(0,1) %}
		{% include 'tease-todays_deal.twig' %}
	{% endfor %}	

	<div class="row">
		{% for d in deals|slice(1) %}
			{% set post = d %}
			{% include ['tease-deal.twig', 'tease.twig'] %}
		{% endfor %}	
	</div>
	
{% endblock %}


