{% extends "page.twig" %}

{% block below_title %}
	<div class="clearfix spacer-bot">
		{% for m in meisters|slice(0,1) %}
			{% include 'tease/tease-todays_meister.twig' %}
		{% endfor %}
	</div>
{% endblock %}

{% block loop %}
{% endblock %}

{% block loop_minor %}
	
		<div class="loop-thumbs contain">
			<div class="row-sm">
			{% for m in meisters|slice(1) %}
				{% include ['tease/tease-minor_meister.twig', 'tease/tease.twig'] %}
			{% endfor %}
		</div>
		
	</div>
{% endblock %}