{% extends "page.twig" %}

{% block above_content %}
	
	<h2 id="current-cat">Find a Meister!</h2>
	{# <div class=""> #}

		<ul class="list-cats">

		{% for cat in cats %}
			<li class="cat-item">
				<a class="load" data-cpt="meister" data-id="{{cat.term_id}}"><strong class="cat-btn">{{cat.name}}</strong></a>
				{# <a class="load" data-cpt="gear" data-id="{{cat.term_id}}">load gear</a> // 
				<a class="load" data-cpt="deal" data-id="{{cat.term_id}}">load deals</a> #}
			</li>
		{% endfor %}

		</ul>
		
		<div class="results-container row">
			{% include 'partials/micro/spinner.twig' %}
			<div id="results"></div>
		</div>
	
	{# </div> #}
{% endblock %}