{% extends "base.twig" %}

{% block content %}

    {% include 'partials/page-header.twig' %}
		
		<div class="page-body container">
			<div class="page-content">
				
				<p class="tagline tagline-page">{{post.tagline}}</p>

				{# <div class="col-sm-8"> #}
				<p class="lead">{{post.introduction}}</p>
				
				{% include 'partials/acf-block-loop.twig' %}

				{# <div class="container">
					<h3>Podcast How-To</h3>
					<div class="col-sm-4">
						<h4>Install</h4>
					</div>	
				</div>
				 #}
				{# </div> #}
			
			</div>

			{%  if sidebar %}
				<aside class="sidebar col-sm-4">
					{{sidebar}}
				</aside>
			{% endif %}	
		 		
		
	</div>

	{% include 'partials/edit-link.twig' %}
	
{% endblock %}

