{% extends "page.twig" %}

{% block today %}<p class="meta">{{post.date}}</p>{% endblock %}

{# {% block content %}

	{% if post.content_blocks %}
		<section class="article-section container-squish">
			{% include 'partials/acf-block-loop.twig'%}
		</section>
	{% endif %}

{% endblock %} #}

