.no-margin {
	margin: 0;
}

.current-menu-item:before {
	content: '';
	position: absolute;
	// top: 10px;
	// This is pretty bad
	margin-left: -9%;
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	
	border-top: 10px solid $accent-med;
}

.btn-wrap {
	margin: $sml 0;
}


.page-header {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	// TODO: Why?
	background-size: cover !important;  
}