
// Hide the sprites
.svgsprites {
	display: none;
}

.no-margin {
	margin: 0;
}


// Should be incorporated into a system or global max-width thing. Will be solved with grid overhaul, I think.
.footer #mc_embed_signup {
	max-width: 90%;
	margin: 0 auto;

	@include bp(med) {
		max-width: 100%;
	}
}



// Verbose and content-dependent layout classes

.featured-left,
.featured-right {
	@include make-sm-column(6);
}

.featured-right {
	img {
		width: 100%;
		max-width: 320px;
		@include bp(med) {
			max-width: 100%;
			width: auto;
		}
	}
}

.tease-featured:not(.tease-featured-deal) {
	// @extend %full_width;
}

.tease-featured-deal {

	img {
		width: 250px;
		max-width: 100%;
		@include bp(med) {
			width: auto;
		}
	}

	.featured-left {
		@include make-sm-column(6, false);
		@include make-md-column(8, false);
		
		@include bp(small) {
			// padding-left: 0;
			// padding-right: 1rem;
		}
	}

	.featured-right {
		@include make-sm-column(6);
		@include make-md-column(4, 0);
	}
}



// Nudging

.btn-tweet {
	.shape {
		position: relative;
		top: 3px;
	}
}



// Page specific overrides

.home .block-blank {
	margin-top: 0;
	padding-bottom: $base;
}



//// GAHHHHH Hacks for mobile archive page. Need to address this soooon.
.tease-archive {
	text-align: center;

	@include bp(small) {
		text-align: left;
	}

	h4 {
		margin-top: $h4;

		@include bp(small) {
			margin-top: 0;
		}
	}
	.link-more {
		float: none;
		display: inline-block;
		margin-top: $h4;

		@include bp(small) {
			margin-top: 0;
			float: right;
		}
	}

	border-bottom: $accent-border;

	@include bp(med) {
		border-bottom: 0;
	}
}



// Gross nesting.

.widget-fourth {
	.menu {
		@extend %unstyle-list;
	}
}


//

#twitter-widget-0 {
	height: 400px;

	@include bp(large) {
		height: 600px;
	}
}