// I feel like there's a better way to handle this..
.svgsprites {
	display: none;
}

.no-margin {
	margin: 0;
}

.pad-sml {
	padding-left: $sml;
	padding-right: $sml;
}

.btn-wrap {
	margin: $sml 0;
}


// Just inefficient

.featured-img,
.featured-desc {
	@include make-md-column(6, false);
}

.featured-img,
.item-img {
	img {
		
		max-width: 100%;

		@media(min-width: 18em) {
			max-width: 250px;
		}
		
		@include bp(med) {
			max-width: 100%;
		}
	}
}

.featured-desc {
	@include bp(med) {
		padding-right: $base;
	}
}


.tease-featured-deal {

	.featured-desc {
		@include make-sm-column(6, false);
		@include make-md-column(8, false);
		
		@include bp(small) {
			padding-left: 0;
			padding-right: 1rem;
		}
	}

	.featured-img {
		@include make-sm-column(6, false);
		@include make-md-column(4, false);
	}
}



// Hacky

.tagline-page {
	.page-content & {
		padding: 0;
	}
}



.share-links {
	@include make-xs-column(12, false);
	@extend %unstyle-list;
	li {
		@include make-xs-column(4);
	}
}

// When scrolled past header image
.scrolled {
	background: $accent-dark !important;
	transition: all 0.5s ease;
}


// This is verbose
.btn-tweet {
	.shape {
		position: relative;
		top: 3px;
	}
}

.menu-item-cta {

	// Bad max width
	@media(max-width: $screen-md) {
		padding-bottom: $sml;
		@include make-xs-column(6, false);	
	}
}