
// ----
// Extends and Utility Classes
// ----



// -- Layout

%row {
  @include make-row();
}

%full_width {
  @include bp(med) {
	@include make-xs-column(12);  
  }
}

%half {
	@include make-sm-column(6); 
}

%row_of_two {

  @include make-sm-column(6);
  
  @include bp(small) {
	&:nth-child(2n+1){
	  clear:left;
	}  
  }
}

%row_of_three {
  @extend %row_of_two;
  @include make-md-column(4);
  @include bp(med) {
	&:nth-child(2n+1){
	  clear:none;
	}  
	&:nth-child(3n+1){
	  clear:left
	}  
  }  
}

.clearfix {
  &:before,
  &:after {
	content: " "; // 1
	display: table; // 2
  }
  &:after {
	clear: both;
  }
}

%unstyle-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}


// -- Forms

%btn {
	text-decoration: none;  
  border: 0;
  @extend %upperspace;
}

// Used for consistent form sizing
%form-base {
  padding: $sml $base;
  @extend %h5;
  font-family: $form-font;
}



// -- Color Scheming

%rotate {
	@include rotate;
}

%rotate-bars {
  @include rotate($text: $text-light, $bkgd: rgba($accent-dark, 0.5));
}




// -- Typography

%upperspace {
  text-transform: uppercase;
  letter-spacing: 1px; 
}

%meta,
.meta {
  color: $text-meta;
  @extend %upperspace;
  font-size: $sml;
  font-weight: 400;
}




// -- Utility classes

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

%center-block {
	display: block;
	margin: 0 auto;
}


.show-at-sm {
	display: none;
	
	@include bp(small) {
		display: block;
  	}
}