
%form-base {
	border-radius: $sml/3;
	padding: $sml $base;
	font-size: $h5;
}

@mixin button( $button-color, $text-color: $white ) {
	background: $button-color;
	border: darken($button-color, 10%) $sml/5 solid;

	font-family: $button-font;

	// TODO: BAD BAD
	// Remove important
	// Or is this better than a new style to override the <a> color?
	color: $text-color !important;
	
	@extend %form-base;
	margin-top: $h5;
	display: inline-block;

	&:hover,
	&:focus {
		background: darken( $button-color, 20% );
		color: $text-color;
	}

	&:active {
		background: darken( $button-color, 10% );
		border-color: darken( $button-color, 13% );
		color: $text-color;
		-webkit-box-shadow: inset 0 2px 5px -3px rgba( 0, 0, 0, 0.5 );
	 	box-shadow: inset 0 2px 5px -3px rgba( 0, 0, 0, 0.5 );
	}

	&[disabled],
	&:disabled,
	&.button-primary-disabled {
		color: hsl( hue( $button-color ), 10%, 80% ) !important;
		background: darken( $button-color, 8% ) !important;
		border-color: darken( $button-color, 15% ) !important;
		text-shadow: none !important;
	}
}


// ----
// Media Queries
// ----

// http://css-tricks.com/conditional-media-query-mixins/
$MQs: true;

@mixin bp($point) {
	@if ($MQs) {
		$bp-sm: "(min-width: #{$screen-sm})";
		$bp-md: "(min-width: #{$screen-md})";
		$bp-lg: "(min-width: #{$screen-lg})";

		@if $point == small {
			@media #{$bp-sm} { @content; }
		}
		@else if $point == med {
			@media #{$bp-md} { @content; }
		}
		@else if $point == large {
			@media #{$bp-lg} { @content; }
		}
	}
}