// ----
// Screen sizes
// ----

$screen-sm: 		35em;
$screen-md: 		48em;
$screen-lg: 		57em;

$slicer-breakpoints: 0 $screen-sm $screen-md $screen-lg;



// ----
// Colors
// ----

// Basic color names
$black:	 			#111;
$white: 			#fff;
$grey: 				#aaa;

$green: 			#68C499;
$red: 				#9F4440;

// Snow
$sn-navy: 			#043f7e;
$sn-white: 			#f9f9f9;
$sn-orange: 		#f8992f;
$sn-black: 			#1f1d1a;



// ----
// Typography 
// ----

// Rem Units
// http://gregrickaby.com/using-the-golden-ratio-and-rems/

$contain-lg: 		130%;
$contain-md: 		120%;
$contain-sm: 		100%;
$contain: 			90%;

$base:  			1.2rem;

$line-height-base: 		1.5;
$line-height-heading: 	1;

$sml:  				$base*0.8;

$h1:  				$base*3.4;
$h2:  				$base*2.4;
$h3:  				$base*1.6;
$h4:  				$base*1.2;
$h5:  				$base;
$h6:  				$sml;



// ----
// Semantic Vars
// ----


// Colors
$accent-light: 		darken($sn-white, 15%);	
$accent-med: 		$sn-orange;
$accent-dark: 		$sn-navy;

$text-dark: 		$sn-black;
$text-light: 		$sn-white;

$link-color:		$accent-dark;
$link-hover: 		darken($link-color, 20%);

$alert-danger:		$red;
$alert-warning:		$sn-orange;
$alert-success:		$green;
$alert-info: 		lighten($sn-navy, 20%);


// Components
$body-bkgd: 		$white;
$body-text: 		$text-dark;

$rotate-bkgd: 		$accent-dark;
$rotate-text: 		$text-light;
$rotate-link: 		$text-light;


// Typography
$sans-serif: 		'Texta';
$sans-serif-bold: 	'Montserrat';
$serif:             'Chaparral Pro';

$heading-font: 		$sans-serif;
$body-font: 		$serif;
$nav-font: 			$sans-serif;
$button-font: 		$sans-serif;
$lead-font: 		$sans-serif;


// Utilities
$accent-border: 	1px solid $accent-med;

