
.shape-site-logo {
	height: $h2;
	width: $h1*3;
}

.shape-twitter {
	fill: $text-light;

	.footer & {
		fill: $twitter;
	}
}

.shape-facebook {
	fill: $facebook;
}

.shape-instagram {
	fill: $instagram;
}

.shape-icon {
	height: $h5;	
	width: $h4;
}

.shape-meta {
	fill: $text-meta;
}