
// ----
// Extends and Utility Classes
// ----

%row {
  @include make-row();
}

%btn {
	text-decoration: none;	
  border: 0;
}

// Used for consistent form sizing
%form-base {
  padding: $sml $base;
  @extend %h5;
  font-family: $form-font;
}

%rotate {
    background-color: $rotate-bkgd;
    color: $rotate-text;

    // TODO: Maybe add to holding?
    // Need a more elegant way to remove link styles
    
    a, 
    a:visited, 
    a:hover {
      color: $rotate-text;
    }
}


%upperspace {
  text-transform: uppercase;
  letter-spacing: 1px; 
}


.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}