
// ----
// Extends and Utility Classes
// ----

%btn {
	text-decoration: none;	
  border: 0;
}

// Used for consistent form sizing
%form-base {
  padding: $sml/2 $sml;
  @extend %h5;
}

%rotate {
    background-color: $rotate-bkgd;
    color: $rotate-text;

    // TODO: Maybe add to holding?
    // Need a more elegant way to remove link styles
    
    a, 
    a:visited, 
    a:hover {
      color: $rotate-text;
    } 
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}