
// ----
// Extends and Utility Classes
// ----



// -- Layout

%row {
  @include make-row();
}

%row_of_two {
  @include make-sm-column(6, $h1);
  @include bp(small) {
    &:nth-child(2n+1){
      clear:left;
    }  
  }
}

%row_of_three {
  @extend %row_of_two;
  @include make-md-column(4);
  @include bp(med) {
    &:nth-child(2n+1){
      clear:none;
    }  
    &:nth-child(3n+1){
      clear:left
    }  
  }  
}



// -- Forms

%btn {
	text-decoration: none;	
  border: 0;
}

// Used for consistent form sizing
%form-base {
  padding: $sml $base;
  @extend %h5;
  font-family: $form-font;
}



// -- Color Scheming

%rotate {
    background-color: $rotate-bkgd;
    color: $rotate-text;

    // TODO: Maybe add to holding?
    // Need a more elegant way to remove link styles
    
    a, 
    a:visited, 
    a:hover {
      color: $rotate-text;
    }
}



// -- Typography

%upperspace {
  text-transform: uppercase;
  letter-spacing: 1px; 
}



// -- Utility classes

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}