{% extends "blocks/block.twig" %}

{% block content %}

  <div class="gallery js-flickity">

    {% for image in content.images %}

      {# <div class="gallery-cell"> #}
        {# <div class="gallery-cell-content"> #}

          <img class="gallery-cell-image" src="{{TimberImage(image.url)|resize(600)}}">

        {# </div> #}

        {# <div class="gallery-cell-info"> #}
          {# <p class="caption">{{image.caption}}</p> #}
        {# </div> #}
      {# </div> #}

    {% endfor %}

  </div>

{% endblock %}
