{% extends 'blocks/block.twig' %}

{% block content %}

	{# {{ content.heading ? '<h3 class="spacer-top spacer-bot">' ~ content.heading ~ '</h3>' }} #}
	
	{% include 'partials/pictures/picture-logic.twig' with 
		{
		 	image: content.image, 
			loc: content.image_location, 
			wrap: content.wrap_text,
			size: content.image_size,
			credit: content.image_credit,
			credit_link: content.image_credit_link
		} 
	%}

	{% if content.wrap_text == false %}<figcaption>{% endif %}
		
		{% if content.heading %}
			<h4>{{content.heading}}</h4>
		{% endif %}

		{{content.text}}
	{% if content.wrap_text == false %}</figcaption>{% endif %}

{% endblock %}