{% extends "blocks/block.twig" %}

{% block content %}

  <div class="carousel">

    {% for image in content.images %}
      <div class="carousel-cell" data-flickity-bg-lazyload="{{TimberImage(image.url)|resize(800)}}"></div>
    {% endfor %}

  </div>

{% endblock %}
