{% for content in post.get_field('content_blocks') %}

    {% if content.acf_fc_layout == 'text_block' %}
        {% include 'blocks/_block-text.twig' %}
    {% elseif content.acf_fc_layout == 'text_image_block' %}
		{% include 'blocks/_block-text-image.twig' %}
    {% elseif content.acf_fc_layout == 'list_block' %}
        {% include 'blocks/_block-list.twig' %}
    {% elseif content.acf_fc_layout == 'gallery_block' %}
        {% include 'blocks/_block-gallery.twig' %}
        <h1>HI</h1>
    {% elseif content.acf_fc_layout == 'blank' %}
        <div class="block-blank">
            {{content.wysiwyg}}
        </div>
    {% elseif content.acf_fc_layout == 'shortcode' %}
        <div class="block-blank">
            {{content.shortcode}}
        </div>
    {% endif %}

{% endfor %}
