
.rotate {
	@include rotate($text: $text-light, $bkgd: $accent-dark, $link-clr: $accent-light);
	border-top: $accent-border-large;
}


// Some WP classes

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.spacer-top {
	margin-top: $h3;
}

.spacer-bot {
	margin-bottom: $h3;
}

//

.visually-hidden {
	position: absolute;
	top: -9999999px;
	left: -999999px;
}