
.rotate {
	@include rotate($text: $text-light, $bkgd: $accent-dark, $link-clr: $accent-light);
	border-top: $accent-border-large;
}


// Some WP classes

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.spacer-top {
	margin-top: $h3;
}

.spacer-bot {
	margin-bottom: $h3;
}

//

.visually-hidden {
	position: absolute;
	top: -9999999px;
	left: -999999px;
}



// Bleeds

// TODO: it'd be better to remove these hard-coded percentages, and make them gutters or something based on the grid. Oh well, for now at least.

@mixin bleed {
    @include bp(med) {
        width: 108%;
        margin-right: -4%;
        margin-left: -4%;   
    }
}

.bleed {
    @include bleed;
}

@mixin inverse-bleed {
    @include bp(med) {
        margin-left: 7%;
        margin-right: 7%;
    }
}

.inverse-bleed {
    @include inverse-bleed;
}

// Mainly for images.

.bleed-left {
    @include bp(med) {
        margin-left: -8%;
    }
}

.bleed-right {
    @include bp(med) {
        margin-right: -8%;
    }
}