%icon-base {
	width: $base;
	height: $base;
	display: block;
	margin: 0 auto;
}

@mixin icon($fill, $hover: $accent-med) {
	@extend %icon-base;
	fill: $fill;
	a &:hover {
		fill: $hover;
	}
}

.shape {
	width: 100%;
	height: auto;
	fill: $accent-dark;
}

.icon {
	@include icon($accent-dark);
}

.icon-rotate {
	@include icon($accent-vlight);
}



.shape-site-logo {
	height: $h2;
	width: $h1*3;

	fill: $text-light;
}

.shape-twitter {
	fill: $twitter;

	.tweet-container & {
		fill: $text-light;
	}
}

.shape-facebook {
	fill: $facebook;
}

.shape-googleplus {
	fill: $googleplus;
}

.shape-instagram {
	fill: $instagram;
}

.shape-icon {
	height: $h5;	
	width: $h4;
}

.shape-meta {
	fill: $text-meta;
}

.shape-share {
	height: $h4;	
	width: $h3;
}



