html {
	
	line-height: $line-height-sml;
	
	// Adjust font-size at breakpoints

	@include bp(small) {
		font-size: $contain-sm;
		line-height: $line-height-base;
	}

	@include bp(med) {
		font-size: $contain-md;
	}

	@include bp(large) {
		font-size: $contain-lg;
	}
	
	font-family: Arial, sans-serif;
	font-family: $body-font;
}

body {
	font-style: normal;
	font-weight: normal;
}

a, a:visited {
	color: $link-color;
	text-decoration: none;

	&:hover, &:focus {
		color: $link-hover;
	}

	&:active {
		color: $link-active;	
	}

	// mobile tap color 
	&:link {
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

h1, h2, h3, h4, h5, h6 {
	line-height: $line-height-heading;
	margin-bottom: 0;
}


h1 {
	@extend %h1;
	margin-top: $h3;
}

h2 {
	@extend %h2;
	margin-top: $h4;
}

h3 {
	@extend %h3;
	margin-top: $h4;
}

h4 { 
	@extend %h4;
	margin-top: $base;
}

h5 {
	@extend %h5;
	margin-top: $base;
}

h6 {	
	@extend %h6;
	margin-top: $base;
}

p {
	margin-top: $base;
	font-size: $base;
}

small {
	font-size: $sml;
}


blockquote {
	@extend %h4;
	
	@include bp(small) {
		font-size: $h3;
	}

	font-style: italic;
	padding-left: $h2;
	margin-left: 0;
	margin-right: 0;
	background-image: url(../img/svg-min/quotes-left.min.svg);
	background-repeat: no-repeat;
}

.lead {
	@extend %h4;
	margin-top: 0;
}

.caption,
.widget_sp_image-description p {
	font-size: $sml;
}