html {

	line-height: $line-height-base;

	// Adjust global font-sizes at breakpoints

	@include bp(small) {
		font-size: $contain-sm;
	}

	@include bp(med) {
		font-size: $contain-md;
	}

	@include bp(large) {
		font-size: $contain-lg;
	}

}


// ----
// Base
// ----

body {
	font-style: normal;
	font-weight: normal;

	font-family: Helvetica, sans-serif;
}

	.wf-active body {
		font-family: $body-font;
	}


a, a:visited {
	color: $link-color;
	text-decoration: none;

	p & {
		border-bottom: $accent-light 1px dotted;
	}


	&:hover, &:focus {
		color: $link-hover;

		p & {
			border-color: $accent-med;
		}
	}

	&:active {
		color: $link-active;
	}

	// Mobile tap color
	&:link {
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}



// ----
// Headings
// ----

h1, h2, h3, h4, h5, h6 {
	line-height: $line-height-heading;
	margin-bottom: 0;
}

h1, %h1 {
	font-size: $h1;
	margin-top: $h3;
}

h2, %h2 {
	font-size: $h2;
	margin-top: $h4;
}

h3, %h3 {
	font-size: $h3;
	margin-top: $h4;
}

h4, %h4 {
	font-size: $h4;
	margin-top: $base;
	@include upperspace;
}

h5, %h5 {
	font-size: $h5;
	margin-top: $base;
}

h6, %h6 {
	font-size: $h6;
	margin-top: $base;
}

p {
	font-size: $base;
	margin-top: $base;
}

small {
	font-size: $sml;
}


blockquote {
	font-size: $h4;

	@include bp(small) {
		font-size: $h3;
	}

	font-style: italic;
	padding-left: $h2;
	margin-left: 0;
	margin-right: 0;
	background-image: url("../img/svg-min/quotes-left.min.svg");
	background-repeat: no-repeat;
}

.lead {
	@extend %h4;
	margin-top: 0;
}

.caption,
.widget_sp_image-description p {
	font-size: $sml;
}
