
// ----
// Extends and Utility Classes
// ----



// -- Layout

%row,
.row {
    @include make-row();
}

%full_width {
    @include bp(med) {
        @include make-xs-column(12);
    }
}

%half {
	@include make-sm-column(6);
}

.clearfix {
    &:before,
    &:after {
        content: " "; // 1
        display: table; // 2
    }
    &:after {
	   clear: both;
    }
}

%unstyle-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}


// -- Forms


// Used for consistent form sizing
%form-base {
    padding: $sml $base;
    @extend %h5;
    font-family: $form-font;
}

