
// ----
// Extends and Utility Classes
// ----



// -- Layout

%row, 
.row {
    @include make-row();
}

%full_width {
    @include bp(med) {
        @include make-xs-column(12);
    }
}

%half {
	@include make-sm-column(6); 
}

.clearfix {
    &:before,
    &:after {
        content: " "; // 1
        display: table; // 2
    }
    &:after {
	   clear: both;
    }
}

%unstyle-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}


// -- Forms


// Used for consistent form sizing
%form-base {
    padding: $sml $base;
    @extend %h5;
    font-family: $form-font;
}



// -- Typography

@mixin upperspace {
    text-transform: uppercase;
    letter-spacing: 1px; 
}

%meta,
.meta {
    color: $text-meta;
     @include upperspace;
    font-size: $sml;
    font-weight: 400;
}

.meta-desc {
    font-size: $sml;
    font-weight: 400;
}

.expired {
    color: $alert-danger;
    font-style: italic;
}

.current {
    color: $alert-success;
}


// -- Utility classes

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

%center-block {
	display: block;
	margin: 0 auto;
}


.show-at-sm {
	display: none;
	
	@include bp(small) {
		display: block;
  	}
}