// ----
// Rotate
// ----

// Navy by default
.rotate {
	@include rotate($text: $text-light, $bkgd: $accent-dark, $link-clr: $accent-light);
	border-top: $accent-border-large;
}



// ----
// WP classes
// ----

.alignleft {
	float: left;
}

.alignright {
	float: right;
}



// ----
// Spacers
// ----

.spacer-top {
	margin-top: $base;
}

.spacer-bot {
	margin-bottom: $base;
}



// ----
// Bleeds
// ----

// TODO: it'd be better to remove these hard-coded percentages, and make them gutters or something based on the grid. Oh well, for now at least.

@mixin bleed {
    @include bp(med) {
        width: 108%;
        margin-right: -4%;
        margin-left: -4%;
    }
}

// Otherwise known as "squish"
@mixin inverse-bleed {
    @include bp(med) {
        margin-left: 7%;
        margin-right: 7%;
    }
}

.inverse-bleed {
    @include inverse-bleed;
}

.bleed {
    @include bleed;
}

    .bleed-left {
        @include bp(med) {
            margin-left: -8%;
        }
    }

    .bleed-right {
        @include bp(med) {
            margin-right: -8%;
        }
    }



// ----
// Misc
// ----

.visually-hidden {
    position: absolute;
    top: -9999999px;
    left: -999999px;
}



// ----
// Typography
// ----

.special {
    color: $accent-med;
}

@mixin upperspace {
    text-transform: uppercase;
    letter-spacing: 1px;
}

%meta,
.meta {
    color: $text-meta;
     @include upperspace;
    font-size: $sml;
    font-weight: 400;
}

.meta-desc {
    font-size: $sml;
    font-weight: 400;
}

.expired {
    color: $alert-danger;
    font-style: italic;
}

.current {
    color: $alert-success;
}


// -- Utility classes

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

%center-block {
    display: block;
    margin: 0 auto;
}



// ----
// Lazyloading
// ----

.lazyload {
    min-height: 300px;
}

.lazyload,
.lazyloading {
    opacity: 0;
}
.lazyloaded {
    opacity: 1;
    transition: opacity 300ms;
}

.blur-up {
    -webkit-filter: blur(5px);
    filter: blur(5px);
    transition: filter 400ms, -webkit-filter 400ms;
}

.blur-up.lazyloaded {
    -webkit-filter: blur(0);
    filter: blur(0);
}
