

// ---
// Singles
// ---

// Gear recs
.item {
	@extend .clearfix;
}

.item-desc,
.item-img {
	@include make-sm-column(6, false);
}

.item-img img {
	@include bp(small) {
		padding-left: $h3;	
	}
	
	display: block;
	margin: 0 auto;
}

