{% if d.expiration_date %}
	{% if d.expiration_date|date("U") > "now"|date("U") %}
		<p class="meta current">Until: {{d.expiration_date|date("m/d/Y")}}</p>
	{% elseif d.expiration_date|date("U") < "now"|date("U") %}
		<p class="meta expired"><em>Expired</em></p>
	{% endif %}
{% endif %}